section.footer-container.text-center
  .share
    a(href='https://vine.co/u/', target='_blank').vine
      svg.svg-icon
        use(xlink:href='#vine')

    a(href='https://instagram.com/', target='_blank').instagram
      svg.svg-icon
        use(xlink:href='#instagram')

    a(href='https://twitter.com/', target='_blank').twitter
      svg.svg-icon
        use(xlink:href='#twitter')

    a(href='https://www.facebook.com/', target='_blank').fb
      svg.svg-icon
        use(xlink:href='#fb')

  p.small 2015 SalesBlah, Inc.
