
mixin hero(type)

  section.signup-container
    .heading
      h1 Balh Your Listings to Life
      h3 Engage buyers. Delight sellers. Stand out from the crowd.
      br

      .row.clearfix
        .col-md-10.col-md-offset-7.col-sm-12.col-sm-offset-6
          form.signup-form
            h3 Sign up to get your invitation.
            input.form-control(type='text', name='name', autofocus=true, required=true, placeholder='Name')
            input.form-control(type='text', name='email', autofocus=true, required=true, placeholder='Email')
            button.btn.btn-success.btn-block(type='submit') Sign up for FREE

