nav(role='navigation').nav

  .nav-container
    a.logo(href='/').pull-left
      img(src='#{assetUrl}/images/logo-full.png', alt='logo')

    //- a.logo(href='/').pull-left.visible-xxs
      img(src='#{assetUrl}images/logo.png', alt='logo')

    .menu.pull-right
      a.btn.btn-link(href='/about', style='margin-left:15px') About Us
